<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Inicio</title>
</head>
<body>
    <header class="encabezado">
        <div class="izquierda">
            <div>imagen</div>
            <div>configuración</div>
        </div>
        <div class="derecha">
            <div>imagen</div>
            <div>configuración</div>
        </div>
    </header>

    <main class="cuerpo">
        <div class="asideleft0">
            <aside class="asideleft">
                <li href="#" id="barraLateralIzquierda">A</li>
                <li href="#" id="barraLateralIzquierda">B</li>
                <li href="#" id="barraLateralIzquierda">C</li>
                <li href="#" id="barraLateralIzquierda">D</li>
                <li href="#" id="barraLateralIzquierda">E</li>
                <li href="#" id="barraLateralIzquierda">F</li>
                <li href="#" id="barraLateralIzquierda">G</li>
                <li href="#" id="barraLateralIzquierda">H</li>
                <li href="#" id="barraLateralIzquierda">I</li>
                <li href="#" id="barraLateralIzquierda">J</li>
            </aside>
        </div>
        <div class="centro">
            <div class="menu">
                <imput class="buscador">
                    Search
                </imput>
                <a href="" class="boton">Botón</a>
            </div>
            <div class="contenido0">
            <div class="contenido">
                <article><p>Articulo 1</p></article>
                <article><p>Articulo 2</p></article>
                <article><p>Articulo 3</p></article>
                <article><p>Articulo 4</p></article>
                <article><p>Articulo 5</p></article>
                <article><p>Articulo 6</p></article>
                <article><p>Articulo 7</p></article>
                <article><p>Articulo 8</p></article>
                <article><p>Articulo 9</p></article>
            </div>

        </div>
        </div>
        <div class="asiderigth">  
            <aside>aside2</aside>
        </div>
    </main>

    <footer>DERECHOS DE AUTOR ANDRES LEOARDO CASTRO BUITRAGO. 2022</footer>
</body>
</html>